%h2 Known devices
%table
  %thead
    %tr
      %th Identifier
      %th Last connection
  %tbody
    - @devices.each do |d|
      %tr
        %td!= d.identifier
        %td!= d.locations.empty? ? "Never" : d.locations.last.time

